body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  background-color: #dee;
}

noscript {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 100%;
  background-color: #330;
}
